/*
calc()
perform math operations - + * /
mix and match values 
 */

body {
    background: rgba(84, 78, 23, 0.53);
}

* {
    margin: 0;
}

.navbar {
    background: grey;
    height: 100px;
    color: #000;
    font-size: 3rem;
}

.banner {
    background: hotpink;
    min-height: calc(100vh - 100px);
}