/* font-stack, generic fonts
serif, sans-serif, monospace, cursive, fantasy
*/


/* font-family, font-weight, font-style */


/* text-align, text-indent */


/* text-transform, text-decoration, line-height, word-spacing, letter-spacing */


/* Padding, margin, border, border-radius, negative margin, */

body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-style: oblique;
    text-align: center;
}

.navbar {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: left;
    padding: 12px 10px;
    background: rosybrown;
    margin: 10px 5px;
}

.one {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-indent: 20rem;
    line-height: 1.5em;
    letter-spacing: 0.5px;
    word-spacing: 1.10em;
    text-transform: lowercase;
    background: royalblue;
    margin: 5px 7px;
    padding: 10px 5px;
}

.two {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    line-height: 1.0em;
    text-transform: capitalize;
    text-decoration: underline;
    border: 5px solid black;
}

.three {
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    text-transform: uppercase;
    text-decoration: overline;
    border: 12px solid brown;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 20px;
}

.buttons {
    margin: 3rem;
}

.pay {
    background: chartreuse;
    border: 0.2rem solid #222;
    padding: 1.2rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 20px;
}

.shop {
    background: brown;
    padding: 1.2rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 20px;
    outline: 0.2rem solid #222;
    outline-offset: 10px;
}