/* relative and absolute
em - Relative on parent
1em - 16px default browser style;
1em - base value
*/


/* rems are the same as em */

.relative {
    font-size: 2em;
}

.absolute {
    font-size: 32px;
}

body {
    background: rgba(84, 78, 23, 0.53);
}